pipeline/MasterPipeline_Migrationproject.json
{
	"name": "MasterPipeline_Migrationproject",
	"properties": {
		"activities": [
			{
				"name": "Lookup_watermarktable",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM dbo.ADF_Watermark_Table;",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sqlserver_migrationproject",
						"type": "DatasetReference",
						"parameters": {
							"Tablename": "dbo",
							"Schemaname": "ADF_Watermark_Table"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_Master",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_watermarktable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_watermarktable').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Lookup_watermark_max",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat('SELECT MAX([', item().WatermarkColumn, ']) AS MaxValue FROM [', item().TableSchema, '].[', item().TableName, ']')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_sqlserver_migrationproject",
									"type": "DatasetReference",
									"parameters": {
										"Tablename": {
											"value": "item().TableName",
											"type": "Expression"
										},
										"Schemaname": {
											"value": "item().TableSchema",
											"type": "Expression"
										}
									}
								}
							}
						},
						{
							"name": "If Condition_incremental",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Lookup_watermark_max",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@or(equals(item().LastLoadValue, null), greater(int(activity('Lookup_watermark_max').output.firstRow.MaxValue), int(item().LastLoadValue)))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Copy data1",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlServerSource",
												"sqlReaderQuery": {
													"value": "@concat(\n    'SELECT * FROM [',\n    item().TableSchema,\n    '].[', \n    item().TableName,\n    ']',\n    if(\n        equals(item().LastLoadValue, null),\n        '',\n        concat(\n            ' WHERE [',\n            item().WatermarkColumn,\n            '] > ''',\n           item().LastLoadValue,\n            ''''\n        )\n    )\n)",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "ds_sqlserver_migrationproject",
												"type": "DatasetReference",
												"parameters": {
													"Tablename": {
														"value": "item().TableName",
														"type": "Expression"
													},
													"Schemaname": {
														"value": "item().TableSchema",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_adls_mig_parquet",
												"type": "DatasetReference",
												"parameters": {
													"TableName": {
														"value": "item().TableName",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "Stored procedure_Watermarkcolumn",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Copy data1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[UpdateWatermark]",
											"storedProcedureParameters": {
												"LatestWatermarkValue": {
													"value": {
														"value": "@activity('Lookup_watermark_max').output.firstRow.Maxvalue",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"TableName": {
													"value": {
														"value": "item().TableName",
														"type": "Expression"
													},
													"type": "String"
												},
												"TableSchema": {
													"value": {
														"value": "item().TableSchema",
														"type": "Expression"
													},
													"type": "String"
												},
												"WatermarkColumn": {
													"value": {
														"value": "item().WatermarkColumn",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "ls_sqlserver_migrationproject",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"tbl_name": {
				"type": "String"
			},
			"schema_name": {
				"type": "String"
			},
			"Watercolum_name": {
				"type": "String"
			},
			"max_value": {
				"type": "Integer"
			},
			"lastloaded": {
				"type": "Integer"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-03-25T17:13:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}